*,
*::before,
*::after {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  width: 100%;
  border: 1px solid green; }

.container {
  display: grid;
  grid-template-columns: 15rem [side-end full-start] 1fr [center-start] repeat(8, minmax(15rem, 1fr)) [center-end] 1fr [full-end];
  grid-template-rows: 80vh repeat(4, min-content) 15rem; }

.bestseller {
  background-color: green; }

.books {
  background-color: greenyellow;
  grid-column: center-start / center-end;
  padding: 10rem; }

.features {
  background-color: darkcyan;
  grid-column: center-start / center-end;
  padding: 10rem; }

.footer {
  background-color: gray;
  grid-column: full-start/ full-end;
  padding: 3rem; }

.gallery {
  background-color: seagreen;
  grid-column: full-start/ full-end;
  padding: 10rem; }

.header {
  background-color: royalblue;
  grid-column: side-end / center-end; }

.story__prictures {
  background-color: salmon;
  grid-column: full-start / span 5;
  padding: 10rem; }

.story__text {
  background-color: sandybrown;
  grid-column: auto / span 5;
  padding: 10rem; }

.side {
  background-color: yellow;
  grid-row: 1 / -1; }
